body {
  background-color: #e6ecf0;
  padding-top: 5px;
}

a {
  color: #1DA1F2;
}

@media screen and (min-width: 1236px) {
  .container {
    width: 1190px;
  }
}
/* Top Navbar elements' styles */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar-nav > li a {
  color: #66757f;
  font-size: 14px;
  font-weight: bold;
}

.input-search {
  font-size: 13px;
}

.input-search, .btn-search {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
}
.btn-search {
  background-color: #fff;
}

.navbar-search-icon {
  color: #66757f;
}


.btn-search-bar {
  border-radius: 100px;
  border: 1px solid #1da1f2;
  color: #fff;
  background-color: #4AB3F4;
  border-color: transparent;
  font-weight: bold;
  font-size: 14px;
}

.btn-search-bar:hover{
      background-color: #1DA1F2;
    border-color: #1DA1F2;
  cursor:pointer;
}

.navbar-form {
  margin-right: 15px;
}

.navbar-user-dropdown {
  margin-right: 15px;
}
/* END: Top Navbar elements' styles */

.profile-background {
  height: 320px;
  /* background-image: url(''); */
}

/* Stats Navbar elements' styles */
.profile-stats {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}

.profile-stats ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.profile-stats li {
  display: inline-block;
}

.profile-stats a {
  padding: 10px 16px;
  display: block;
  text-align: center;
}

.profile-stats-item {
  color: #657786;
  display: block;
}

.profile-stats-item-active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #1DA1F2 !important;
}

.profile-stats-item-label {
  font-size: 12px;
  font-weight: bold;
}

.profile-stats-item-number {
  font-size: 18px;
  font-weight: bold;
}

/* END: Stats Navbar elements' styles */

/* Main content elements' styles */

/* Left column*/
.profile-header {
  margin-top: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.profile-element {
  color: #657786;
  display: block;
  font-size: 14px;
  margin-top: 12px;
}
.profile-fullname {
  color: #000;
}

.profile-website {
  color: #1DA1F2 !important;
  cursor: pointer;
}

.profile-website:hover {
  text-decoration: underline !important;
}

.tweet-to-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  width:100%;
}
/* END: Left column*/

/* Main column*/
.main-content {
}

.tweet-list {
  list-style: none;
  margin: 8px 4px 0;
  padding: 0;
}
.tweet-card {
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  min-height: 52px;
  padding: 9px 12px;
}

.tweet-content {
  margin-left: 58px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.tweet-card-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}

.tweet-footer-btn {
  margin-right: 30px;
}
.tweet-footer-btn i, .tweet-footer-btn span {
  color: #657786;
  font-size: 16px;
}
.tweet-footer-btn span {
  margin-left: 8px;
}
/* END Main column*/

/* Right column*/
.pic-col {
  margin: 2px;
  padding: 2px;
}

.right-col {
  padding-left: 0;
}
.content-panel {
  margin: 10px 0 0;
  background-color: #fff;
  line-height: 16px;
  padding: 15px;
}

.content-panel h4 {
  display: inline-block;
}

.content-panel small {
  font-size: 66%;
  margin-left: 6px;
}

.content-panel li {
  min-height: 70px;
}

.btn-follow {
  border-color: #1DA1F2;
  color: #1DA1F2;
  background-color: #fff;
  border: 1px solid #1da1f2;
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  min-width: 89px;
}

.btn-follow:hover {
  background-color: #E8F5FD;
}
/* END: Right column*/

/* END: Main content elements' styles */





.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("https://i.redd.it/f71ibj4if32z.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
